 
*{
    background-color: color-mix(in xyz-d50, color percentage, color percentage);
}
.nk {

    height: 200px;
    width: 200px;
    height: 300px;
    width: 350px;
    margin: 20px;
    margin-left: 385px;
    padding: 3px;
    text-align: center;
    font-size: larger;
    border-radius: 20px 20px 30px 40px;
    box-shadow: 10px 10px 9px;
    color: rgb(11, 194, 245);
}
.kk{
    text-decoration: underline;
}
img{
    height: 150px; width: 300px; border-radius: 20px; margin: 30px;
}

li{
    border-radius: 20px; background-color: coral;
    height: 20px; width: 170px; padding: 10px;
    margin: 6px;
}
header{
    text-align: center; font-size: xx-large;
    text-decoration: underline; height: 75px; width:400px;
    background-color: rgb(241, 136, 8); padding-top: 30px;
    border-radius: 30px;
}
p{
    background-color: darkgray; height: 200pxpx; width: 300px;
    padding: 25px; border: 15px solid;color: rgb(123, 240, 59);
}
.in{
    width: 100px; height: 30px; border: 2px solid;
}

.abt{border: 2px solid;
    height: 25px;
    width: 220px;
    size: 25px;
    border-radius: 40px;
     
}
select{
    border: 2px solid;
        height: 25px;
        width: 220px;

}
form{
    background-color: rgb(164, 244, 244);
}
h4{
    font-size: large; background-color: aquamarine; height: 35px; width: 170px;
    text-align: center; padding-top: 12px;
}
h3{
    font-size: large;
        background-color: rgb(114, 109, 108);
        height: 35px;
        width: 170px;
        text-align: center;
        padding-top: 12px;color: rgb(142, 237, 9);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: gold; text-align: center;
}