.nk{
    background-color:rgb(186, 248, 94);
    height: 300px; width: 350px;
    margin: 20px; margin-left: 385px;
    padding: 20px;  text-align: center; font-size: larger;
    border-radius: 50px 50px 70px 80px; box-shadow: 10px 30px 10px;color: blueviolet;
    
}
.kk{
    text-decoration: underline;
}
img{
    height: 150px; width: 300px; border-radius: 20px; margin: 30px;
}

li{
    border-radius: 20px; background-color: coral;
    height: 20px; width: 170px; padding: 10px;
    margin: 6px;
}
header{
    text-align: center; font-size: xx-large;
    text-decoration: underline; height: 75px; width:400px;
    background-color: rgb(241, 136, 8); padding-top: 30px;
    border-radius: 30px;
}
p{
    background-color: darkgray; height: 200pxpx; width: 300px;
    padding: 25px; border: 15px solid;color: rgb(123, 240, 59);
}
.in{
    width: 100px; height: 30px; border: 2px solid;
}